/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: #D8D9DA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar{
  margin: 0;
}

#hero-section{
  background-image: url(img/banner-industry-tech.jpg);
  color: white;
  width: 100%;
  height: 47vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

h1{
  font-family: "Anta", sans-serif;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

#herocaption{
  text-align: center;
   text-shadow: 2px 2px 4px black;
}

.heroimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 100%;
  border: 5px solid white;
  width: 200px;
  height: 200px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  background-image: radial-gradient(#C23373,#11009E);
  color: white;
  vertical-align: auto ;
  text-shadow: 2px 2px 4px black;
  padding-bottom: 3px;
}

h4{
  text-align: center;
}
.mission-section {
  margin-bottom: 10px;
  
}
.mission-img{
  height: auto;
  width: 80%;
  max-height: 400px;
  margin-left: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
}


#mission-desc{
  padding-top: 15px;
  font-size: 18px;
}

#footer-section{
  background-color: #190482;
  color: white;
  text-align: center;
  margin-top: auto;
  padding-top: 12px;
}

h5{
  text-align: center;
}

.devicon-azuresqldatabase-plain, 
.devicon-python-plain,
.devicon-html5-plain, 
.devicon-css3-plain,
.devicon-bootstrap-plain, 
.devicon-javascript-plain, 
.devicon-cplusplus-plain, 
.devicon-flutter-plain {
  font-size: 40px;
}

  
.bi{
  font-size: 40px;
}

.bi-house-door-fill{
  font-size: 20px;
}
#contact{
  padding-bottom: 10px;
}

.bi:hover{
  color: red;
}

.project1-container{
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 10px;
}

.project-description{
  text-align: center;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 400px;
  width: 200px;
}